<div class="min-h-screen flex bg-[#f2f3f8] p-4">
  <div
    class="flex flex-col md:flex-row bg-white rounded-2xl shadow-lg overflow-hidden w-full"
  >
    <!-- Left side (Image) -->
    <div class="md:w-1/2 bg-[#eadcff] p-6">
      <img
        src="assets/signup-bg.jpg"
        alt="signup-bg"
        class="rounded-xl w-full h-full object-cover"
      />
    </div>

    <!-- Right side (Form) -->
    <div class="md:w-1/2 p-8">
      <div class="text-right text-sm mb-2">
        Already have an account?
        <a routerLink="/auth/login" class="text-blue-600 hover:underline">
          Sign in
        </a>
      </div>

      <div class="flex flex-col items-center justify-center h-full">
        <h2 class="text-3xl font-bold text-gray-800 mb-1">Sign Up to Inipod</h2>
        <p class="text-sm text-gray-500 mb-6">
          Create your account to continue
        </p>

        <form
          #formSignup="ngForm"
          (ngSubmit)="onSignup()"
          class="space-y-4 w-full max-w-[600px] mx-auto"
        >
          <!-- Email input -->
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Enter your email"
            required
            pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$"
            #emailRef="ngModel"
            class="w-full bg-blue-50 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            [ngClass]="{ 'border-red-500': emailRef.invalid
          && emailRef.touched, }"
            autocomplete="email"
          />
          <div
            *ngIf="emailRef.touched && emailRef.errors"
            class="text-sm text-red-500"
          >
            <div *ngIf="emailRef.errors?.['required']">Email is required</div>
            <div *ngIf="emailRef.errors?.['pattern']">Invalid email format</div>
          </div>
          <!-- Username input -->
          <input
            type="text"
            name="username"
            [(ngModel)]="username"
            required
            #usernameRef="ngModel"
            placeholder="Enter username"
            class="w-full bg-blue-50 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            [ngClass]="{
              'border-red-500': usernameRef.invalid && usernameRef.touched,
            }"
            pattern="^[a-zA-Z0-9\s]*$"
            autocomplete="username"
          />
          <div
            *ngIf="usernameRef.invalid && usernameRef.touched"
            class="text-sm text-red-500"
          >
            <div *ngIf="usernameRef.errors?.['required']">
              Username is required
            </div>
            <div *ngIf="usernameRef.errors?.['pattern']">
              Only letters or letters and numbers allowed
            </div>
          </div>

          <!-- Password input -->
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            minlength="6"
            #passwordRef="ngModel"
            placeholder="Password"
            class="w-full bg-blue-50 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            [ngClass]="{
              'border-red-500': passwordRef.invalid && passwordRef.touched,
            }"
            autocomplete="new-password"
          />
          <div
            *ngIf="passwordRef.touched && passwordRef.errors"
            class="text-sm text-red-500"
          >
            <div *ngIf="passwordRef.errors['required']">
              Password is required
            </div>
            <div *ngIf="passwordRef.errors['minlength']">
              Minimum 6 characters
            </div>
          </div>

          <!-- Confirm Password input -->
          <input
            type="password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
            #confirmPasswordRef="ngModel"
            placeholder="Confirm Password"
            class="w-full bg-blue-50 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            [ngClass]="{
              'border-red-500': confirmPasswordRef.invalid && confirmPasswordRef.touched,
            }"
            autocomplete="new-password"
          />
          <div
            *ngIf="confirmPasswordRef.touched && confirmPasswordRef.invalid"
            class="text-sm text-red-500"
          >
            Confirm Password is required
          </div>
          <div
            *ngIf="confirmPasswordRef.touched && password !== confirmPassword"
            class="text-sm text-red-500"
          >
            Passwords do not match
          </div>

          <!-- Submit button -->
          <button
            type="submit"
            [disabled]="formSignup.invalid || password !== confirmPassword"
            class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600 font-semibold transition disabled:opacity-50 disabled:cursor-not-allowed"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
