<div class="min-h-screen flex bg-[#f2f3f8] p-4">
  <div
    class="flex flex-col md:flex-row bg-white rounded-2xl shadow-lg overflow-hidden w-full"
  >
    <!-- Left side (Image) -->
    <div class="md:w-1/2 bg-[#eadcff] p-6">
      <img
        src="assets/login-bg.jpg"
        alt="login-bg"
        class="rounded-xl w-full h-full object-cover"
      />
    </div>

    <!-- Right side (Form) -->
    <div class="md:w-1/2 p-8">
      <div class="text-right text-sm mb-2">
        Back to
        <a
          routerLink="/auth/login"
          class="text-blue-600 cursor-pointer hover:underline"
          >Login</a
        >
      </div>

      <div class="flex flex-col items-center justify-center h-full">
        <h2 class="text-xl sm:text-3xl font-bold text-gray-800 mb-1">
          Recovery Password
        </h2>
        <p class="text-sm text-gray-500 mb-6">
          Enter your email to reset your password
        </p>
        <form
          (ngSubmit)="onRecoveryPassword()"
          #formRecoveryPassword="ngForm"
          class="space-y-4 w-full max-w-[600px] mx-auto"
        >
          <!-- Email input -->
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Enter email"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            #emailRef="ngModel"
            class="w-full bg-blue-50 border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400"
            [ngClass]="{
              'border-red-500': emailRef.invalid && emailRef.touched,
            }"
          />
          <div
            *ngIf="emailRef.touched && emailRef.errors"
            class="text-sm text-red-500"
          >
            <div *ngIf="emailRef.errors?.['required']">Email is required</div>
            <div *ngIf="emailRef.errors?.['pattern']">
              Invalid email address
            </div>
          </div>
          <!-- Submit button -->
          <button
            type="submit"
            [disabled]="formRecoveryPassword.invalid"
            class="w-full bg-red-500 text-white py-2 rounded-md hover:bg-red-600 font-semibold transition disabled:opacity-50 disabled:cursor-not-allowed"
          >
            Recovery Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
